body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
}

a {
    color: #333;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}