html {
    color: #333;
    font-size: 16px;
}

.header {
    padding: 30px 40px;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    width: 84vw;
}

.footer {
    padding: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;
    img {
        width: 75px;
    }
    h3 {
        margin: 15px 0;
        text-transform: uppercase;
        font-weight: 700;
    }
    p {
        text-align: center;
    }
    &:hover {
        opacity: .6;
        text-decoration: none;
    }
}